<!DOCTYPE html>

<html>

	<head>
		<title>Angular.js Demo App</title>
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="css/site.css" rel="stylesheet">
		<base href="/">
		<style>

			input.ng-touched.ng-invalid {
				border: 2px solid red;
			}

			fieldset label {
				display:block;
			}

		</style>
	</head>

	<body>

		<main ng-app="WidgetApp" class="container">
			<div ng-controller="HomeCtrl">
				<form name="contactForm" novalidate>
					<div>
						<label>
							Name:
							<input name="contactName" ng-model="contact.name" required>
							<span ng-show="contactForm.contactName.$invalid &&
								contactForm.contactName.$touched">
								Name is required.
							</span>
						</label>
					</div>
					<div>
						<label>
							Are you a customer?
							<input name="contactCustomer" ng-model="contact.isCustomer" type="checkbox">
						</label>
					</div>
					<fieldset>
						<legend>How did you find out about us?</legend>
						<label>
							<input name="contactFindOut" ng-model="contact.findOut"
								type="radio" value="search engine">
							Search Engine
						</label>
						<label>
							<input name="contactFindOut" ng-model="contact.findOut"
								type="radio" value="television">
							Television
						</label>
					</fieldset>
					<div>
						<label>
							Where are you from?
							<select ng-model="contact.location" name="contactLocation"
								ng-options="country.code as country.name group by country.continent for country in countries | orderBy:'continent'">
								<option value="">Select One...</option>
							</select>
						</label>
					</div>
					<div>
						<label>
							Comments?
							<textarea name="contactComments" ng-model="contact.comments"
									rows="5" cols="80"></textarea>
						</label>
					</div>
					<button type="button" ng-click="submitContact()"
						xng-disabled="contactForm.$invalid">Submit</button>

				</form>

			</div>
		</main>

		<script src="js/ng/angular.js"></script>
		<script src="js/ng/angular-animate.js"></script>
		<script src="js/ng/angular-sanitize.js"></script>
		<script src="js/ng/angular-ui-router.js"></script>
		<script src="js/site.js"></script>

	</body>

</html>
